@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 5px solid blue; */
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 5px solid green; */
}

#main-body {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px;
  z-index: 999;
}

.desktop-navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3em;
}

.logo {
  width: 150px;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>h2>a {
  color: black;
  text-decoration: none;
}

.desktop-navbar-list {
  width: 60%;
  max-width: 900px;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-navbar-list>ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.desktop-navbar-list>ul>li>a {
  font-size: 1em;
  color: black;
  text-decoration: none;
}

.cta {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.cta-btn {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.cta-btn>a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-icon {
  margin-left: 5px;
}

.cta-btn>a:hover {
  background-color: black;
  color: white;
}

.mobile-navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1em;
}

.mobile-navbar-right {
  width: 50%;
  max-width: 300px;
  min-width: 100px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamMenu {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  z-index: 10;
}

.hamMenu>span {
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  background-color: #000;
  transition: all 0.3s ease;
}

.hamMenu>span:nth-child(1) {
  top: 25%;
}

.hamMenu>span:nth-child(3) {
  top: 65%;
}

.hamMenu.active>span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active>span:nth-child(2) {
  opacity: 0;
}

.hamMenu.active>span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.offScreenMenu {
  position: absolute;
  top: 0;
  right: -250px;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  backdrop-filter: blur(1.2rem);
  /* background : linear-gradient(white,skyblue); */
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px;
}

.offScreenMenu.active {
  right: 0;
}

.mobile-navbar-list {
  width: 60%;
  max-width: 900px;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-navbar-list>ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.mobile-navbar-list>ul>li>a {
  font-size: 1em;
  color: black;
  text-decoration: none;
}

#body {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1600px;
  height: 100%;
  /* border: 2px solid blue; */
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
  margin-bottom: 1em;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 2em 3em;
  padding-left: 20%;
  /* background: url(./assets/images/banner.jpg);
  background-size: cover;
  background-position: center; */
}

.hero-desc {
  position: relative;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid black; */
  gap: 15px;
  padding: 2em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

.hero-btns {
  position: relative;
  width: 380px;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.hero-cta-btn {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.hero-cta-btn>a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease;
}

.hero-cta-btn>a:hover {
  background-color: black;
  color: white;
}

.hero-cta-btn:nth-child(1) a {
  background-color: black;
  color: white;
}

.hero-cta-btn:nth-child(1) a:hover {
  background-color: white;
  color: black;
}


.logo-section {
  width: 100%;
  height: 100%;

  text-align: center;
  overflow: hidden;
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.logo-section h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.logo-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.logo-slide {
  display: flex;
  animation: slide 20s linear infinite;
}

.logo-slide img {
  width: 120px;
  height: auto;
  margin: 0 20px;
}

/* Keyframes for continuous sliding effect */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.about-us {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;

  top: 4em;

}

.about-us-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2em;
}

.section-heading {
  position: relative;
  font-size: 2em;
  margin-bottom: 2em;
}

.section-heading::before {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  border-radius: 6px;
  background-color: black;
  bottom: -5px;
  left: 35%;
}


.about-us-left {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

}

.about-us-desc {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.skill-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 50%;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 7px;

}

.skill-container .skill-box {
  width: 100%;
}

.skill-box .title {
  display: block;
  font-size: 1em;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  margin-top: 6px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  background: #000;
  border-radius: 6px;
}

.skill-per .tooltip {
  position: absolute;
  top: -30px;
  right: -14px;
  background-color: black;
  color: white;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 3px;
  z-index: 2;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -3px;
  left: 55%;
  background-color: #000;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}


.about-us-right {
  position: relative;
  width: 50%;
  /* max-width: 500px; */
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  /* border: 2px solid blue; */
  /* background-color: #f0f1f5; */
  /* background-color: black; */
}

.about-right-container {
  position: relative;
  margin: auto;
  width: 70%;
  min-width: 500px;
  height: 400px;
  /* border: 2px solid black; */
  background-color: #eef0f5;
  box-shadow: 0px 0px 10px #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.about-img-container {
  position: relative;
  min-width: 400px;
  height: 300px;
  right: 20%;
  /* border: 2px solid red; */
  background-color: white;
  box-shadow: 0px 0px 10px #d6d6d6;
}

.services {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4em;
  padding: 2em 3em;
  margin-bottom: 2em;

}

.services-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
}

.service-cards {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.service-card {
  width: 350px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 30px 10px;
  overflow: hidden;
  box-shadow: 0px 0px 30px #aaa;

}

.service-card-img {
  width: 100%;
  height: 200px;
  background-color: black;
}

.service-card-desc {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
  top: 6em;
  padding-top: 10%;
}

.portfolio-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */


}

.portfolio-project {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid blue; */
  /* background-color: lightgrey; */
  margin-bottom: 2em;
}

.portfolio-project:nth-child(2),
.portfolio-project:nth-child(4) {
  flex-direction: row-reverse;
}

.project-desc {
  width: 40%;
  height: 100%;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 2em;
  border-radius: 10px;
}

.action-text i {
  margin-right: 20px;
}

.project-img {
  width: 50%;
  height: 100%;
  background-color: #aaa;
  border-radius: 10px;
}

.tools {
  width: 100%;
  height: 100%;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

}

.tool {
  width: 350px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 30px 10px;
  background-color: black;
  padding: 2em;
  color: white;
  font-weight: 600;
  transition: all .3s ease;
}


.tool:nth-child(2),
.tool:nth-child(4),
.tool:nth-child(6) {
  background-color: white;
  color: black;
  border: 2px solid black;
}


.tool>ul {
  list-style-type: none;
  text-indent: 10px;
}


.contact {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
}

.contact-container{
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-left {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  padding: 2em;
}

.contact-left-desc{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.left-desc-1{
  width: 100%;
  height:auto;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.left-desc-1 h3{
  font-size: 2em;
}

.left-desc-2{
  width: 100%;
  max-width: 550px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.phone, .mail{
  width: 100%;
  display: flex;
  justify-content: left;
}


.left-desc-2 a{
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.left-desc-2 a i{
  margin-right: 5px;
  /* border: 2px solid black; */
  font-size: 1.3em;
}


.social {
  width: 100%;
  max-width: 300px;
  height: auto;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
  color: #000;
  border: 1px solid #000;
  font-size: 1.5em;
  /* background-color: black; */
  transition: all .3s ease;
}

.social a:hover {
  background: #000;
  color: white;
  box-shadow: 0 0 5px #aaa, 0 0 10px #aaa, 0 0 10px #aaa,
    0 0 10px #aaa;
}



.contact-right   {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
}

.form-container{
  width: 100%;
  height: 100%;
  height: 500px;
  padding: 2em;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid black; */
  /* background-color: #00eeff; */
  box-shadow: 0px 0px 10px #000 ;
  border-radius: 20px;
  padding: 1em;
}

.form-details{
  width: 100%;
  height: 30%;
  /* border: 2px solid red; */
  display: grid;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 1em; */
  gap: 1rem;
  grid-template-columns: auto auto;
}

.form-details > div{
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items:center;
}

.form-details input{
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
  color: white;
  border: none;
  outline: none;
  font-size: 1.1em;
}

.form-details input::placeholder{
  color: #aaa;
  font-size: 1em;
}

.form-message{
  width: 100%;
  height: 30%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-message .message{
  width: 100%;
  height: 80%;
  /* border: 2px solid red; */
}

.form-message .message textarea{
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
  color: white;
  border: none;
  outline: none;
  font-size: 1.1em;
  resize: none;
}

.form-message textarea::placeholder{
  color: #aaa;
  font-size: 1em;
}

.form-submit{
  width: 100%;
}

.form-submit .btn {
  width: 100%;
  color: black;
  font-size: 1.3em;
  text-decoration: none;
  box-shadow: 0 0 5px #aaa, 0 0 25px #aaa;
  opacity: 1;
}

.form-submit .btn:hover {
  box-shadow: 0px 0px 5px #aaa, 0px 0px 25px #aaa, 0px 0px 50px #aaa,
    0px 0px 100px #aaa;
  transition: 0.3s ease-in;
}


.btn {
  width: max-content;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: white;
  margin-right: 1em;
  border: none;
  opacity: 0;
}

.btn a {
  color: black;
  font-size: 1.3em;
  text-decoration: none;
  box-shadow: 0 0 5px #aaa, 0 0 25px #aaa;
}

.btn:hover {
  box-shadow: 0px 0px 5px #aaa, 0px 0px 25px #aaa, 0px 0px 50px #aaa,
    0px 0px 100px #aaa;
  transition: 0.3s ease-in;
}


footer{
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  border: 3px solid black;
  background-color: #000;
}

.footer-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 2em;
}

.footer-top{
  width: 100%;
  height:45%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  border-bottom: 1px solid #aaa;
}

.footer-nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.footer-nav > ul{
  width: 100%;
  height: max-content;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  list-style-type:none ;
  /* flex-wrap: wrap; */
}

.footer-nav > ul > li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav > ul > li a{
  color: #aaa;
  text-decoration: none;
}


.footer-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer-bottom .social{
  padding: 1em 0em;
  margin-bottom: 0;
}
.footer-bottom .social a{
  color: #aaa;
  border: 1px solid #aaa;
  opacity: 1;
}

.footer-bottom .social a:hover{
  background-color: black;
}

.footer-text{
  width: max-content;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
  color: #aaa;
}

.footer-text p:nth-child(1){
  border-right: 1px solid #aaa;
  padding-right: 1em;
}